<!DOCTYPE html>
<html xmlns:width="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/styles.css">

</style>
</head>
<body>
  <!-- Top navigation -->
  <div class="topnav" id="myTopnav">

  <!-- Centered link -->
  <div class="topnav-centered">
    <a href="#">
<!--    <img src="./images/main-img.jpeg" alt="" class="main-img">-->
    <h4>ELECTROSTATIC</h4>
    <p>DJ / Producer</p>
  </a>
  </div>

  <!-- Left-aligned links (default) -->
  <a href="../index.html">Home</a>
  <a href="../news.html">News</a>
  <a href="../templates/bio.html" class="active">Bio</a>

  <!-- Right-aligned links -->
  <div class="topnav-right">
    <a href="#search">Mixes</a>
    <a href="#booking">Booking</a>
    <a href="./templates/contact.html">Contact</a>
  </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

    <h2>BIOGRAPHY</h2>
    <p><img class="bio-img-left" src="../images/bio-img.jpg" alt="dj">
      Bla bla
    </p>

    <p><img class="bio-img-right" src="../images/bio-img2.jpg" alt="dj">
      Bla bla
    </p>

  <div class="bio-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>


  <script src="js/index.js"></script>

</body>
</html>

